name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Yarn Setup
      uses: CultureHQ/actions-yarn@v1.0.1

    - name: SPA Build and Publish
      run: |
        cd Reactivities.Spa
        yarn
        yarn build-linux
        
    - name: .NET Setup
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    
    - name: .NET Restore dependencies
      run: dotnet restore
    
    - name: .NET Build
      run: dotnet build --no-restore
    
    - name: .NET Test
      run: dotnet test --no-build --verbosity normal
    
    - name: .NET Publish
      run: dotnet publish -c Release -o publish --self-contained false Reactivities.sln

    - name: Copy Files to Host
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.DIGITALOCEAN_HOST }}
        username: ${{ secrets.DIGITALOCEAN_USER }}
        password: ${{ secrets.DIGITALOCEAN_PASSWORD }}
        source: "publish/*"
        target: "/var/reactivities"
        working-directory: publish

    - name: Prepare Folders and Starting Service
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DIGITALOCEAN_HOST }}
        username: ${{ secrets.DIGITALOCEAN_USER }}
        password: ${{ secrets.DIGITALOCEAN_PASSWORD }}
        script: |
          mv /var/reactivities/publish/* /var/reactivities/
          rm -rf /var/reactivities/publish/
          sudo systemctl restart kestrel-web.service
